@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "NeueHaasDisplay-Black";
	src: url("NeueHaasDisplay-Black.woff2");
}

@font-face {
	font-family: "NeueHaasDisplay-Bold";
	src: url("NeueHaasDisplay-Bold.woff2");
}

@font-face {
	font-family: "NeueHaasDisplay-Medium";
	src: url("NeueHaasDisplay-Mediu.woff2");
}

@font-face {
	font-family: "NeueHaasDisplay-Roman";
	src: url("NeueHaasDisplay-Roman.woff2");
}

@font-face {
	font-family: "NeueHaasDisplay-Light";
	src: url("NeueHaasDisplay-Light.woff2");
}

@font-face {
	font-family: "ABCSynt-Regular-Trial";
	src: url("ABCSynt-Regular-Trial.woff");
}

@font-face {
	font-family: "Happy-Times-At-The-IKOB";
	src: url("happy-times-NG_bold_master.woff2");
}
